.book-card {
  --card-width: clamp(110px, 12vw, 180px);
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  border-color: black;
  color: rgb(0, 0, 0);
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  width: var(--card-width);
  overflow: hidden;
}
.book-card img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  min-height: 150px;
  height: clamp(150px, 18vw, 260px);
  display: block;
}

.book-card-info {
  padding: 0em 0.5em;
}

.book-card-info h4 {
  margin: 1em 0 0.5em 0;
}

.book-card-info p {
  color: grey;
}

.hero-right .book-card {
  transition: transform 0.5s ease;
  position: absolute;
}
.hero-book-card1 {
  transform: translateY(0px) translateX(-180px) rotate(10deg);
  z-index: 1;
}
.hero-book-card2 {
  transform: translateY(-15px) translateX(180px) rotate(20deg);
  z-index: 2;
}
.hero-book-card3 {
  transform: translateY(-4px) translateX(0px) rotate(-10deg);
  z-index: 3;
}

.hero-book-card1:hover {
  transform: translateX(-240px) rotate(0deg);
}
.hero-book-card2:hover {
  transform: translateX(240px);
}
.hero-book-card3:hover {
  transform: rotate(0deg);
}
.hero-right:has(.hero-book-card3:hover) .hero-book-card1 {
  transform: translateX(-240px) rotate(10deg);
}
.hero-right:has(.hero-book-card3:hover) .hero-book-card2 {
  transform: translateX(240px) rotate(20deg);
}