.down-arrow {
    display: block;
    width: 100%;
    margin-bottom: 4.5rem;
    margin-top: 2rem;
}
.down-arrow img {
    display: block;
    margin: 0 auto;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}