@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.nav-bar {
    height: 7.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}
.nav-bar img {
    padding-right: 3rem;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    flex: 1 1 0;
    text-align: center;
}

.nav-links li {
    flex: 1 1 0;
    font-size: clamp(0.9rem, 2vw, 1.5rem);
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: red;
}

.nav-links{
    display: flex;
    flex-direction: row;

}

.site-name {
    font-size: 1.75rem;
    font-weight: 600;
    padding-left: clamp(0.5rem, 2vw, 1.5rem);
    display: inline-block;
}

/* Navbar underline effect for all and admin drop down */
.underline-eff {
    position: relative;
    border: 30px solid transparent;
}

.underline-eff::before {
    content: "";
    position: absolute;
    background-color: red;
    height: 2px;
    width: 0;
    border-radius: 10px;
    top: 105%;
    left: 50%;
    transition: width 0.3s ease;
    transform: translateX(-50%);
    
}

.underline-eff:hover::before{
    width: 100%;
}

.admin-link {
    cursor: pointer;
}

.admin-link p{
    position: absolute;
    padding-block: 1rem;;
    margin-block: 0;
    display: block;
    left: 0%;
    top: 70%;
    transition: all 0.3s ease;
    font-size: 1.4rem;
    opacity: 0;
}

.admin-link .secondp {
    top: 220%;
}

.admin-link:hover p,
.profile-button:hover p {
    opacity: 1;
    transform: translateY(20px);
    color: red;
}

/* Profile button drop down*/

.profile-button {
    position: relative;
}

.profile-button p{
    position: absolute;
    padding-block: 1rem;;
    margin-block: 0;
    display: block;
    right: 50%;
    top: 50%;
    transition: all 0.3s ease;
    font-size: 1.4rem;
    opacity: 0;
}

.profile-button .secondp {
    top: 90%;
}

.profile-button img {
    margin-bottom: 0;
    position: relative;
    border: 30px solid transparent;
}


